.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt

# typical files made in repo
log*
weights*
*.txt
*.csv
*.root
*.hdf5
*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
**/.ipynb_checkpoints/
*.py[cod]
*$py.class
config

